<div class="form-container mat-elevation-z8">
  <h2 class="card-title">Registro Tipo de Producto</h2>

  <form (ngSubmit)="RegistrarProducto()" #form="ngForm">
    <div class="form-grid">

      <!-- Referencia -->
      <mat-form-field appearance="outline">
        <mat-label>Referencia *</mat-label>
        <input matInput type="text" id="referencia" name="referencia" [(ngModel)]="producto.referencia" required
          placeholder="Ej: 1R0BL9009.0*000.0*4.00">
      </mat-form-field>

      <!-- Descripción -->
      <mat-form-field appearance="outline">
        <mat-label>Descripción</mat-label>
        <input matInput type="text" id="descripcion" name="descripcion" [(ngModel)]="producto.descripcion"
          placeholder="Descripción">
      </mat-form-field>

      <!-- Tipo de Bolsa -->
      <mat-form-field appearance="outline">
        <mat-label>Tipo de Bolsa</mat-label>
        <input matInput type="text" id="tipoBolsa" name="tipoBolsa" [(ngModel)]="producto.tipoBolsa"
          placeholder="Tipo bolsa">
      </mat-form-field>

      <!-- Tipo de Material -->
      <mat-form-field appearance="outline">
        <mat-label>Tipo de Material</mat-label>
        <input matInput type="text" id="tipoMaterial" name="tipoMaterial" [(ngModel)]="producto.tipoMaterial"
          placeholder="Material">
      </mat-form-field>

      <!-- Densidad -->
      <mat-form-field appearance="outline">
        <mat-label>Densidad</mat-label>
        <input matInput type="text" id="densidad" name="densidad" [(ngModel)]="producto.densidad"
          placeholder="Densidad">
      </mat-form-field>

      <!-- Color -->
      <mat-form-field appearance="outline">
        <mat-label>Color</mat-label>
        <input matInput type="text" id="color" name="color" [(ngModel)]="producto.color" placeholder="Color">
      </mat-form-field>

      <!-- Segundo Color -->
      <mat-form-field appearance="outline">
        <mat-label>Segundo Color</mat-label>
        <input matInput type="text" id="segundoColor" name="segundoColor" [(ngModel)]="producto.segundoColor"
          placeholder="Color">
      </mat-form-field>

      <!-- Impreso / No -->
      <mat-form-field appearance="outline">
        <mat-label>Impreso / No</mat-label>
        <input matInput type="text" id="impresoNo" name="impresoNo" [(ngModel)]="producto.impresoNo"
          placeholder="Impreso - No">
      </mat-form-field>

      <!-- Ancho -->
      <mat-form-field appearance="outline">
        <mat-label>Ancho</mat-label>
        <input matInput type="number" id="ancho" name="ancho" [(ngModel)]="producto.ancho" placeholder="Ej: 12.5">
      </mat-form-field>

      <!-- Alto -->
      <mat-form-field appearance="outline">
        <mat-label>Alto</mat-label>
        <input matInput type="number" id="alto" name="alto" [(ngModel)]="producto.alto" placeholder="Ej: 12.5">
      </mat-form-field>

      <!-- Calibre -->
      <mat-form-field appearance="outline">
        <mat-label>Calibre</mat-label>
        <input matInput type="number" id="calibre" name="calibre" [(ngModel)]="producto.calibre" placeholder="Ej: 2.7">
      </mat-form-field>

    </div>

    <!-- Botón -->
    <div class="form-actions">
      <button mat-button type="button" (click)="cancelar()">
        Cancelar
      </button>

      <button mat-raised-button color="primary" type="submit" [disabled]="loading || form.invalid">
        {{ loading ? 'Registrando...' : 'Registrar Producto' }}
      </button>
    </div>
  </form>
</div>