<div class="panel-container" [class.collapsed]="isCollapsed">

  <aside class="sidebar">

    <h2 class="menu-title" *ngIf="!isCollapsed">Inventario</h2>

    <!-- Botón de colapsar -->
    <div class="toggle-btn" (click)="toggleSidebar()">
      <i class="fas" [ngClass]="isCollapsed ? 'fa-chevron-right' : 'fa-chevron-left'"></i>
    </div>

    <ul>
      <li>
        <a routerLink="auditoria-inventario" routerLinkActive="active">
          <i class="fas fa-box icon"></i>
          <span class="text" *ngIf="!isCollapsed">Inventario</span>
        </a>
      </li>
      <li>
        <a routerLink="mostrar-inventario" routerLinkActive="active">
          <i class="fa-solid fa-list-ol"></i>
          <span class="text" *ngIf="!isCollapsed">Mostrar Productos</span>
        </a>
      </li>
      <li>
        <a routerLink="registrar-entrada" routerLinkActive="active">
          <i class="fas fa-box-open"></i>
          <span class="text" *ngIf="!isCollapsed">Registrar Entrada</span>
        </a>
      </li>
      <li>
        <a routerLink="mostrar-entradas" routerLinkActive="active">
          <i class="fas fa-eye icon"></i>
          <span class="text" *ngIf="!isCollapsed">Mostar Entradas</span>
        </a>
      </li>
      <li>
        <a routerLink="buscar-salidas" routerLinkActive="active">
          <i class="fas fa-truck-loading"></i>
          <span class="text" *ngIf="!isCollapsed">Registro Salidas</span>
        </a>
      </li>
    </ul>
  </aside>

  <!-- Contenido dinámico -->
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>