/* You can add global styles to this file, and also import other style files */
/* Puedes añadir tus estilos CSS personalizados aquí si los necesitas */
body {
    font-family: 'Inter', sans-serif;
    /* Usar fuente Inter */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
