<h2>Crear Cliente</h2>

<form (ngSubmit)="crearCliente()" class="form-container">

    <!-- Nombre -->
    <mat-form-field appearance="outline">
        <mat-label>Nombre *</mat-label>
        <input matInput [(ngModel)]="cliente.nombre" name="nombre" required>
    </mat-form-field>

    <!-- Dirección -->
    <mat-form-field appearance="outline">
        <mat-label>Dirección</mat-label>
        <input matInput [(ngModel)]="cliente.direccion" name="direccion">
    </mat-form-field>

    <!-- Teléfono -->
    <mat-form-field appearance="outline">
        <mat-label>Teléfono</mat-label>
        <input matInput [(ngModel)]="cliente.telefono" name="telefono">
    </mat-form-field>

    <!-- Email -->
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="cliente.email" name="email">
    </mat-form-field>

    <!-- Botón Agregar Cliente -->
    <button mat-raised-button color="primary" type="submit">
        Guardar
    </button>
    <button mat-raised-button color="warn" type="button" (click)="cancelar()">
        Cancelar
    </button>

</form>